#page-not-found{
    height: 100vh;
    background: url('../assets/home-background.svg') no-repeat;
    background-position: 25vw 15vh;
}

#message {
    height: 10em;
    position: relative
}

#message h1{
    font-size: 4em;
    margin: 0;
    position: absolute;
    top: 90%;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#message h2{
    font-size: 2em;
    margin: 0;
    position: absolute;
    top: 120%;
    left: 30%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
